@model Labolatorium_3_8.Models.ShippingCarrier

<h2>Dodaj Przewoźnika</h2>

<form asp-action="AddShippingCarrier" asp-controller="Product">
    <div class="form-group">
        <label asp-for="Name">Nazwa Przewoźnika</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Zapisz</button>
</form>
