@{
    Layout = null;
}

<form action="/birth/result" method="POST">
    <label for="name">Imię:</label>
    <input type="text" id="name" name="Name"><br><br>
    <label for="birthdate">Data urodzenia:</label>
    <input type="date" id="birthdate" name="BirthDate"><br><br>
    <input type="submit" value="Wyślij">
</form>
